   <div class="centerize">
    <form class="form" method="POST" action="/admin/addcollegehead">
      <h1 class="heading">Add Institute and College Head Details</h1>
      <input
        type="text"
        placeholder="Name of Institute"
        name="institute_name"
        required
      />
      <input
        type="text"
        placeholder="Description of Institute"
        name="institute_desc"
        required
      />
      <input
        type="text"
        placeholder="Name of College Head"
        name="collegehead_name"
        required
      />
      <input
        type="text"
        placeholder="Email of College Head"
        name="collegehead_email"
        required
      />
      <input
        type="text"
        placeholder="Phone Number of College Head"
        name="collegehead_no"
        required
      />
      <button class="submit-btn" name="submit">Add College Head</button>
    </form>  
    </div>