<img class="header-components">
    <div class="header">
        <a href="/"><img src="/images/logo.jpg" alt="Organization" class="logo" ></a>
        <p class="ohd-heading" align="center">ONLINE HELP DESK</p>
    </div>
</div>