<div class="desc" align="center" >
    <p class="desc-text">{{desc}}</p>

<div class="buttons">
    <button class="button-74" role="button" onclick="location.href='../admin/signup'">Sign Up<br><span style="font-size:12px;">(For Admin)</span></button>
    <button class="button-74" role="button" onclick="location.href='../signin'">Log In<br><span style="font-size:12px;">(Other Users)</span></button>
</div>
    
</div>