<div class="signin">
    <form class="form" method="POST" action="/signin">
      <h1 class="heading">LOGIN</h1>
      <input
        type="email"
        placeholder="email"
        name="email"
      />
      <input
        type="password"
        placeholder="password"
        name="password"
      />
      <button class="submit-btn" onclick="" type="submit">log in</button>
    </form>
</div>