<form class="form" method="POST" action="/collegehead/addfacilityhead">
      <h1 class="heading">Add Facility Head Details</h1>
      <input
        type="text"
        placeholder="Facility Head's Name"
        name="name"
        required
      />
      <input
        type="text"
        placeholder="Department associated with"
        name="department"
        required
      />
      <input
        type="text"
        placeholder="Email"
        name="facilityhead_email"
        required
      />
      <input
        type="text"
        placeholder="Phone Number"
        name="facilityhead_no"
        required
      />
      <button class="submit-btn" name="submit">Add Facility Head</button>
    </form>  