<form class="form" method="POST" action="/collegehead/addstudent">
      <h1 class="heading">Add Student Details</h1>
      <input
        type="text"
        placeholder="Name of Student"
        name="name"
        required
      />
      <input
        type="text"
        placeholder="Email"
        name="email"
        required
      />
      <input
        type="text"
        placeholder="Phone Number"
        name="num"
        required
      />
      <button class="submit-btn" name="submit">Add Student</button>
    </form>  